* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 45px;
	color: aliceblue;
	font-weight: 600;
	/* text-shadow: 2px 2px 2px black; */
}

header {
	text-align: center;
	background-color: rgb(26, 30, 61);
	padding: 4px 10%;
}

.app {
	background-image: url(../public/images/mountain.jpg);
	height: 100vh;
	object-fit: cover;
	background-position: center;
}

.taskcard {
	width: 250px;
	padding: 10px 25px;
	margin: 10px 1%;
	background-color: rgb(191, 215, 245);
	border-radius: 5px;
}

.TaskCardTitleInputArea {
	margin-bottom: 10px;
	width: 30%;
	cursor: pointer;
}

.TaskCardTitleInput {
	width: 120px;
	font-size: 1.5rem;
	padding: 4px 6px;
	border-radius: 3px;
	border: none;
	outline: none;
}

.taskAddInput {
	width: 100%;
	font-size: 1.3rem;
	padding: 10px 15px;
	border-radius: 3px;
	border: none;
	outline: none;
}

.taskBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 17px 0;
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 5px 5px 5px -5px #575656;
}

.taskText {
	margin-left: 12px;
}

.taskTrashButton {
	margin-right: 9px;
	border: none;
	cursor: pointer;
}

.taskCardsArea {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.addTaskCardButtonArea {
	margin-left: 1%;
	margin-top: 20px;
}

.addTaskCardButton {
	padding: 10px 18px;
	border-radius: 50%;
	font-size: 30px;
	color: white;
	background-color: rgb(124, 156, 226);
	box-shadow: 5px 5px 5px -5px #000000;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
}

.addTaskCardButton:hover {
	box-shadow: none;
	transform: translateY(2px);
}

.taskCardTitleAndDeleteButton {
	display: flex;
	justify-content: space-between;
}

.taskCardDeleteButton {
	border: none;
	background-color: rgb(191, 215, 245);
	cursor: pointer;
	font-size: 16px;
	color: rgb(65, 6, 6);
	margin-top: 7px;
}
